/* Styles for tier-1 auto-clickers */
.tier-1 {
  --calc-margin: calc(calc(var(--cookie-size) / 2 * -1) - 75px);
  position: relative; /* Sets the position as relative */
  z-index: 10; /* Places the tier-1 element above other elements */
  pointer-events: none; /* Disables pointer events on the tier-1 element */
  /* Calculates the top margin based on cookie size and c-count-top */
  margin-top: var(--calc-margin);
  /* Calculates the bottom margin based on cookie size and c-count-top */
  margin-bottom: calc(var(--calc-margin) * -1);
}

/* Styles for tier-1 auto-clicker images */
.tier-1 img {
  scale: 2; /* Scales up the tier-1 auto-clicker images */
}

/* Styles for the wave container */
.wave {
  display: flex; /* Sets the display as flex */
  justify-content: center; /* Centers the content horizontally */
  align-items: center;
}

/* Styles for each row of the wave */
.wave-row {
  position: absolute; /* Sets the position as absolute */
  animation: waveAnimation 1s infinite; /* Applies the wave animation */
  /* Delays the animation based on the animation order */
  animation-delay: calc(var(--animation-order) * 100ms);
}

/* Keyframes for the wave animation */
@keyframes waveAnimation {
  0% {
    transform: translateY(0); /* Moves the wave row */
  }
  10% {
    transform: translateY(10px); /* Moves the wave row */
  }
  20% {
    transform: translateY(0); /* Moves the wave row */
  }
}
