/* Styles for tier-1 auto-clickers */
.tier-1 {
  position: relative;
  z-index: 10;
  pointer-events: none;
  /* Calculates the margins based on cookie size and count height */
  margin-top: var(--calc-margin);
  margin-bottom: calc(var(--calc-margin) * -1);
}

/* Styles for tier-1 auto-clicker images */
.tier-1 img {
  width: calc(var(--cookie-size) / 10);
}

/* Styles for the wave container */
.wave {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for each row of the wave */
.wave-row {
  position: absolute;
  animation: waveAnimation 1s infinite;
  /* Delays the animation based on the animation order */
  animation-delay: calc(var(--animation-order) * 100ms);
}

/* Keyframes for the wave animation */
@keyframes waveAnimation {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(calc(var(--cookie-size) / 20));
  }
  20% {
    transform: translateY(0);
  }
}
