/* Styles for the cookie component container */
.cookie-component {
  position: relative; /* Sets the position as relative */
  margin: 0 auto; /* Centers the container horizontally */
  margin-top: 50px; /* Adds a top margin of 50px */
  text-align: center; /* Centers the content horizontally */
}

/* Styles for the cookie container */
.cookie-container {
  display: inline-block; /* Displays the container as an inline-block element */
  /* Sets the width based on the cookie size variable */
  width: var(--cookie-size);
  border-radius: 50%; /* Rounds the corners to create a circular shape */
  overflow: hidden; /* Clips any content that overflows the container */
  object-fit: cover; /* Ensures the image inside the container is scaled to cover the entire area */
  transition: all 0.1s ease-in-out; /* Adds a smooth transition effect for all properties */
}

/* Styles for the cookie image */
.cookie-component img {
  width: 100%; /* Sets the image width to 100% of the container */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
}

/* Styles when hovering over the cookie container */
.cookie-container:hover {
  transform: scale(1.05); /* Scales up the container slightly */
}

/* Styles when clicking on the cookie container */
.cookie-container:active {
  transform: scale(0.95); /* Scales down the container slightly */
}

/* Styles for the count display */
.cookie-component div {
  font-size: 2em; /* Sets the font size to 2em */
}

/* Styles for the count display container */
.count-display {
  /* Sets the top margin based on the c-count-top variable */
  margin-top: var(--c-count-top);
}
